
#banner img{
    width: 100%;
}

#banner .contenedor{
    position: absolute;
    top: 20%;
    left: 8%;
    font-family: cursive;
    color: white;
    width: 85%;
}

#banner .contenedor a{
    display: block;
    border: solid 4px tomato;
    width: 100px;
    margin-top: 15px;
    text-decoration: none;
    padding: 10px;
    color: white;
    border-radius: 8px;
}

#banner .contenedor a:hover{
    background: white;
    color: tomato;
}