

#blog .contenedor img{
    width: 250px;
    height: 250px;
    border: solid 4px tomato;
    border-radius: 8px;
}

#blog {
    font-family: cursive;
    text-align: center;
    margin-top: 20px;
}

#blog .contenedor {
    display: flex;  /* definicion de cajas del tipo flexbox */
    justify-content: center; /* justificacion al centro */
    flex-wrap: wrap; /* define el uso de multi-linea si no tiene cupo*/
}

#blog .contenedor article{
    margin:15px;
}